CameraVision/CameraVision.iOS/obj/CameraVision.iOS.csproj.nuget.cache
CameraVision/CameraVision.iOS/obj/CameraVision.iOS.csproj.nuget.dgspec.json
CameraVision/CameraVision.iOS/obj/CameraVision.iOS.csproj.nuget.g.props
CameraVision/CameraVision.iOS/obj/CameraVision.iOS.csproj.nuget.g.targets
CameraVision/CameraVision/obj/CameraVision.csproj.nuget.cache
CameraVision/CameraVision/obj/CameraVision.csproj.nuget.dgspec.json
CameraVision/CameraVision/obj/CameraVision.csproj.nuget.g.props
CameraVision/CameraVision/obj/CameraVision.csproj.nuget.g.targets
